In [1]:
import pandas as pd

In [4]:
users = pd.read_csv('sql_tables/users.csv')
users

In [7]:
groups = pd.read_csv('sql_tables/groups.csv')
groups

    group_id                  group_name  group_creator
0          1  shabby-persimmon-crocodile            702
1          2      leaky-amaranth-tamarin            719
2          3        flabby-buff-barnacle            766
3          4      muzzy-malachite-jackal            883
4          5      gummy-tangerine-weasel            158
..       ...                         ...            ...
95        96            foggy-coral-deer             57
96        97      pokey-lavender-gorilla            989
97        98         shaky-cyan-tortoise            578
98        99        shaky-lime-wolfhound            289
99       100           flabby-coral-seal            332

[100 rows x 3 columns]

In [8]:
users.shape[0]

1000

In [ ]:
def add_records(X):
    k = X.shape[0]
    LoadDateTimeStamp = ""
    RecordSource = []
    return X