In [14]:
import pandas as pd
import pymysql
import os
import sys

In [2]:
users = pd.read_csv("../logic/users.csv")

In [3]:
students = pd.read_csv("../logic/students.csv")

In [4]:
groups = pd.read_csv("../logic/groups.csv")

In [5]:
assignments = pd.read_csv("../logic/assignments.csv")

In [6]:
tasks = pd.read_csv("../logic/tasks.csv")

In [7]:
submissions = pd.read_csv("../logic/submissions.csv")

In [8]:
teachers = pd.read_csv("../logic/teachers.csv")

In [9]:
grades = pd.read_csv("../logic/grades.csv")

In [10]:
supervisors = pd.read_csv("../logic/supervisors.csv")

In [41]:
def csv_to_mysql(file_name, table_name):
    '''
    This function load a csv file to MySQL table according to
    the load_sql statement.
    '''
    
    path = os.path.abspath(os.curdir)
    path = os.path.join(path, file_name)
    load_sql = "LOAD DATA LOCAL INFILE '" + path + "' INTO TABLE " + table_name + " FIELDS TERMINATED BY ',' ENCLOSED BY '" +'"'+"' IGNORE 1 LINES;"
    host = '127.0.0.1'
    user = 'root'
    password = ''
    print(load_sql)
    try:
        con = pymysql.connect(host=host,
                                user=user,
                                password=password,
                                autocommit=True,
                                local_infile=1)
        print('Connected to DB: {}'.format(host))
        # Create cursor and execute Load SQL
        cursor = con.cursor()
        cursor.execute(load_sql)
        print('Succuessfully loaded the table from csv.')
        con.close()
        
    except Exception as e:
        print('Error: {}'.format(str(e)))
        sys.exit(1)

In [42]:
def make_hub(table, table_id, name):
    new_table = table[[table_id]].copy()
    new_table['LoadDateTimeStamp'] = '2019-12-09 13:40:32'
    new_table['RecordSource'] = 'kaggle'
    new_table.to_csv(name, index=False)

In [43]:
def make_link(table, columns, name, column_names=None):
    new_table = table[columns].copy()
    if column_names is not None:
        new_table.columns = column_names
    new_table['LoadDateTimeStamp'] = '2019-12-09 13:40:32'
    new_table['RecordSource'] = 'kaggle' 
    new_table.to_csv(name, index=False)

In [37]:
make_hub(users, 'user_id', 'users.csv')
csv_to_mysql('users.csv', 'data_vault.users')

make_hub(students, 'student_id', 'students.csv')
csv_to_mysql('students.csv', 'data_vault.students')

make_hub(teachers, 'teacher_id', 'teachers.csv')
csv_to_mysql('teachers.csv', 'data_vault.teachers')

make_hub(groups, 'group_id', 'groups.csv')
csv_to_mysql('groups.csv', 'data_vault.groups')

make_hub(assignments, 'assignment_id', 'assignments.csv')
csv_to_mysql('assignments.csv', 'data_vault.assignments')

make_hub(submissions, 'submission_id', 'submissions.csv')
csv_to_mysql('submissions.csv', 'data_vault.submissions')

make_hub(tasks, 'task_id', 'tasks.csv')
csv_to_mysql('tasks.csv', 'data_vault.tasks')

make_hub(supervisors, 'supervisor_id', 'supervisors.csv')
csv_to_mysql('supervisors.csv', 'data_vault.supervisors')

make_hub(grades, 'grade_id', 'grades.csv')
csv_to_mysql('grades.csv', 'data_vault.grades')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [44]:
make_link(teachers, ['user_id', 'teacher_id'], 'users-teachers.csv')
csv_to_mysql('users-teachers.csv', 'data_vault.Users-Teachers')

make_link(students, ['user_id', 'student_id'], 'users-students.csv')
make_link(teachers, ['teacher_id', 'group_id'], 'teachers-groups.csv')
make_link(students, ['student_id', 'group_id'], 'students-groups.csv')
make_link(groups, ['group_creator','group_id'] , 'users-groups.csv', ['user_id', 'group_id'])

make_link(assignments, ['group_id', 'assignment_id'], 'groups-assignments.csv')
make_link(tasks,['assignment_id', 'task_id'], 'assignments-tasks.csv')
make_link(submissions , ['student_id','submission_id'], 'students-submissions.csv')

make_link(supervisors, ['teacher_id','supervisor_id'], 'teachers-supervisors.csv')
make_link(submissions, ['submission_id','task_id'], 'task-submissions.csv')

make_link(supervisors, ['submission_id', 'supervisor_id'], 'submissions-supervisors.csv')
make_link(grades, ['supervisor_id','grade_id'] , 'supervisor-grades.csv')

LOAD DATA LOCAL INFILE '/Users/alexander/Documents/GitHub/PracAlphaTeam/data_vault/users-teachers.csv' INTO TABLE data_vault.Users-Teachers FIELDS TERMINATED BY ',' ENCLOSED BY '"' IGNORE 1 LINES;
Connected to DB: 127.0.0.1
Error: (1064, 'You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'-Teachers FIELDS TERMINATED BY \',\' ENCLOSED BY \'"\' IGNORE 1 LINES\' at line 1')

SystemExit: 1

# sat_users

In [19]:
sat_users = users.copy()

In [20]:
sat_users.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_users.insert(2, 'RecordSource', 'kaggle')
dop = sat_users['active']
del sat_users['active']
sat_users.insert(4,'UserStatus', dop)

In [21]:
sat_users.to_csv('sat_Users.csv', index=False)

# sat_groups

In [22]:
sat_groups = groups.copy()

In [23]:
sat_groups.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_groups.insert(2, 'RecordSource', 'kaggle')
del sat_groups['group_creator']

In [24]:
sat_groups.to_csv('sat_Groups.csv', index=False)

# sat_assignments

In [146]:
sat_assignments = assignments.copy()

In [147]:
sat_assignments.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_assignments.insert(2, 'RecordSource', 'kaggle')
del sat_assignments['group_id']

In [148]:
sat_assignments.to_csv('sat_assignments.csv', index=False)

# sat_submissions

In [149]:
sat_submissions  = submissions.copy()

In [150]:
sat_submissions.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_submissions.insert(2, 'RecordSource', 'kaggle')
del sat_submissions['task_id']
del sat_submissions['student_id']

In [151]:
sat_submissions.to_csv('sat_submissions.csv', index=False)

# sat_tasks

In [152]:
sat_tasks  = tasks.copy()

In [153]:
sat_tasks.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_tasks.insert(2, 'RecordSource', 'kaggle')

In [154]:
del sat_tasks['assignment_id']

In [155]:
sat_tasks.to_csv('sat_tasks.csv', index=False)

# sat_grades

In [156]:
sat_grades  = grades.copy()

In [157]:
sat_grades.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_grades.insert(2, 'RecordSource', 'kaggle')

In [158]:
del sat_grades['supervisor_id']

In [159]:
sat_grades.to_csv('sat_grades.csv', index=False)

# Загрузка данных

In [25]:
file_name = 'users.csv'
csv_to_mysql('users.csv', 'data_vault.users')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [27]:
submissions

       submission_id  task_id  student_id                 date     content
0                  1        1           5  2019-12-14 22:00:00       мотор
1                  2        1           1  2019-12-05 22:00:00       мотор
2                  3        1           9  2019-12-14 22:00:00       мотор
3                  4        1          14  2019-12-01 22:00:00       мотор
4                  5        1          12  2019-12-02 22:00:00       мотор
...              ...      ...         ...                  ...         ...
21221          21222     1221        3355  2019-12-15 22:00:00  задний фон
21222          21223     1221        3348  2019-12-24 22:00:00   работники
21223          21224     1221        3356  2019-12-07 22:00:00   работники
21224          21225     1221        3376  2019-12-02 22:00:00   работники
21225          21226     1221        3358  2019-12-27 22:00:00   работники

[21226 rows x 5 columns]