In [1]:
import pandas as pd

In [3]:
users = pd.read_csv("../logic/users.csv")

In [4]:
users.head()

   user_id                    full_name                e-mail  active
0        1   ДЕНИСОВ САМВЕЛ АНАТОЛЬЕВИЧ     sanitary6@mail.ru       1
1        2         СИМОНОВ АЛИК АЛИЕВИЧ  Pembroke86@yandex.ru       1
2        3  КУЗНЕЦОВ ТИМОФЕЙ ГЕОРГИЕВИЧ  silhouette31@mail.ru       1
3        4    САМОЙЛОВА АЛИЯ ГЕОРГИЕВНА    claimant@yandex.ru       1
4        5   ТРОФИМОВА МАРИАННА АЛИЕВНА        Maseru@list.ru       1