In [2]:
import pandas as pd
from datetime import datetime

# Загрузка данных

In [3]:
import pymysql
import os
import sys
def csv_to_mysql(file_name, table_name, db='data_vault'):
    '''
    This function load a csv file to MySQL table according to
    the load_sql statement.
    '''
    
    path = os.path.abspath(os.curdir)
    path = os.path.join(path, file_name)
    load_sql = "LOAD DATA LOCAL INFILE '" + path + "' INTO TABLE " + table_name + " FIELDS TERMINATED BY ',' ENCLOSED BY '" +'"'+"' IGNORE 1 LINES;"
    host = '127.0.0.1'
    user = 'root'
    password = 'password'
    try:
        con = pymysql.connect(host=host,
                              db = db,
                                user=user,
                                password=password,
                                autocommit=True,
                                local_infile=1)
        print('Connected to DB: {}'.format(host))
        # Create cursor and execute Load SQL
        cursor = con.cursor()
        cursor.execute(load_sql)
        print('Succuessfully loaded the table from csv.')
        con.close()
        
    except Exception as e:
        print('Error: {}'.format(str(e)))
        sys.exit(1)


#file_name = 'users.csv'
#csv_to_mysql('users.csv', 'data_vault.Users')

In [4]:
users = pd.read_csv("../logic/users.csv")

In [5]:
students = pd.read_csv("../logic/students.csv")

In [6]:
groups = pd.read_csv("../logic/groups.csv")

In [7]:
assignments = pd.read_csv("../logic/assignments.csv")

In [8]:
tasks = pd.read_csv("../logic/tasks.csv")

In [9]:
submissions = pd.read_csv("../logic/submissions.csv")

In [10]:
teachers = pd.read_csv("../logic/teachers.csv")

In [11]:
grades = pd.read_csv("../logic/grades.csv")

In [12]:
supervisors = pd.read_csv("../logic/supervisors.csv")

In [13]:
def make_hub(table, table_id, name):
    new_table = table[[table_id]].copy()
    new_table['LoadDateTimeStamp'] = '2019-12-09 13:40:32'
    new_table['RecordSource'] = 'kaggle'
    new_table.to_csv(name, index=False)

In [14]:
def make_link(table, columns, name, column_names=None):
    new_table = table[columns].copy()
    if column_names is not None:
        new_table.columns = column_names
    new_table['LoadDateTimeStamp'] = '2019-12-09 13:40:32'
    new_table['RecordSource'] = 'kaggle' 
    new_table.to_csv(name, index=False)

In [15]:

make_hub(users, 'user_id', 'users.csv')
csv_to_mysql('users.csv', 'data_vault.Users')

make_hub(students, 'student_id', 'students.csv')
csv_to_mysql('students.csv', 'data_vault.Students')

make_hub(teachers, 'teacher_id', 'teachers.csv')
csv_to_mysql('teachers.csv', 'data_vault.Teachers')

make_hub(groups, 'group_id', 'groups.csv')
csv_to_mysql('groups.csv', 'data_vault.Groups')

make_hub(assignments, 'assignment_id', 'assignments.csv')
csv_to_mysql('assignments.csv', 'data_vault.Assignments')

make_hub(submissions, 'submission_id', 'submissions.csv')
csv_to_mysql('submissions.csv', 'data_vault.Submissions')

make_hub(tasks, 'task_id', 'tasks.csv')
csv_to_mysql('tasks.csv', 'data_vault.Tasks')

make_hub(supervisors, 'supervisor_id', 'supervisors.csv')
csv_to_mysql('supervisors.csv', 'data_vault.Supervisors')

make_hub(grades, 'grade_id', 'grades.csv')
csv_to_mysql('grades.csv', 'data_vault.Grades')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

In [16]:
make_link(teachers, ['user_id', 'teacher_id'], 'users-teachers.csv')
csv_to_mysql('users-teachers.csv', 'data_vault.Users_Teachers')

make_link(students, ['user_id', 'student_id'], 'users-students.csv')
csv_to_mysql('users-students.csv', 'data_vault.Users_Students')

make_link(teachers, ['group_id', 'teacher_id'], 'teachers-groups.csv')
csv_to_mysql('teachers-groups.csv', 'data_vault.Teachers_Groups')

make_link(students, ['student_id', 'group_id'], 'students-groups.csv')
csv_to_mysql('students-groups.csv', 'data_vault.Students_Groups')

make_link(groups, ['group_creator','group_id'] , 'users-groups.csv', ['user_id', 'group_id'])
csv_to_mysql('users-groups.csv', 'data_vault.Users_Groups')

make_link(assignments, ['group_id', 'assignment_id'], 'groups-assignments.csv')
csv_to_mysql('groups-assignments.csv', 'data_vault.Groups_Assignments')

make_link(tasks,['assignment_id', 'task_id'], 'assignments-tasks.csv')
csv_to_mysql('assignments-tasks.csv', 'data_vault.Assignments_Tasks')

make_link(submissions , ['student_id','submission_id'], 'students-submissions.csv')
csv_to_mysql('students-submissions.csv', 'data_vault.Students_Submissions')

make_link(supervisors, ['teacher_id','supervisor_id'], 'teachers-supervisors.csv')
csv_to_mysql('teachers-supervisors.csv', 'data_vault.Teachers_Supervisors')

make_link(submissions, ['submission_id','task_id'], 'task-submissions.csv')
csv_to_mysql('task-submissions.csv', 'data_vault.Tasks_Submissions')

make_link(supervisors, ['submission_id', 'supervisor_id'], 'submissions-supervisors.csv')
csv_to_mysql('submissions-supervisors.csv', 'data_vault.Submissions_Supervisors')

make_link(grades, ['supervisor_id','grade_id'] , 'supervisor-grades.csv')
csv_to_mysql('supervisor-grades.csv', 'data_vault.Supervisors_Grades')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.
Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

# sat_users

In [17]:
sat_users = users.copy()

In [18]:
sat_users.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_users.insert(2, 'RecordSource', 'kaggle')
dop = sat_users['active']
del sat_users['active']
sat_users.insert(4,'UserStatus', dop)

In [19]:
sat_users.to_csv('sat_Users.csv', index=False)

In [20]:
csv_to_mysql('sat_Users.csv', 'data_vault.sat_Users')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

# sat_groups

In [21]:
sat_groups = groups.copy()

In [22]:
sat_groups.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_groups.insert(2, 'RecordSource', 'kaggle')
del sat_groups['group_creator']

In [23]:
sat_groups.to_csv('sat_Groups.csv', index=False)

In [24]:
csv_to_mysql('sat_Groups.csv', 'data_vault.sat_Groups')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

# sat_assignments

In [25]:
sat_assignments = assignments.copy()

In [26]:
sat_assignments.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_assignments.insert(2, 'RecordSource', 'kaggle')
del sat_assignments['group_id']

In [27]:
sat_assignments.to_csv('sat_Assignments.csv', index=False)

In [28]:
csv_to_mysql('sat_Assignments.csv', 'data_vault.sat_Assignments')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

# sat_submissions

In [29]:
sat_submissions  = submissions.copy()

In [30]:
sat_submissions.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_submissions.insert(2, 'RecordSource', 'kaggle')
del sat_submissions['task_id']
del sat_submissions['student_id']

In [31]:
sat_submissions.to_csv('sat_Submissions.csv', index=False)

In [32]:
csv_to_mysql('sat_Submissions.csv', 'data_vault.sat_Submissions')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

# sat_tasks

In [33]:
sat_tasks  = tasks.copy()

In [34]:
sat_tasks.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_tasks.insert(2, 'RecordSource', 'kaggle')

In [35]:
del sat_tasks['assignment_id']

In [36]:
sat_tasks.to_csv('sat_Tasks.csv', index=False)

In [37]:
csv_to_mysql('sat_Tasks.csv', 'data_vault.sat_Tasks')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.

# sat_grades

In [38]:
sat_grades  = grades.copy()

In [39]:
sat_grades.insert(0, 'LoadDateTimeStamp', '2019-12-09 13:40:32')
sat_grades.insert(2, 'RecordSource', 'kaggle')

In [40]:
del sat_grades['supervisor_id']

In [41]:
sat_grades.to_csv('sat_Grades.csv', index=False)

In [42]:
csv_to_mysql('sat_Grades.csv', 'data_vault.sat_Grades')

Connected to DB: 127.0.0.1
Succuessfully loaded the table from csv.