In [40]:
import pandas as pd

In [41]:
users = pd.read_csv("../logic/users.csv")

In [42]:
students = pd.read_csv("../logic/students.csv")

In [43]:
groups = pd.read_csv("../logic/groups.csv")

In [44]:
assignments = pd.read_csv("../logic/assignments.csv")

In [45]:
tasks = pd.read_csv("../logic/tasks.csv")

In [46]:
submissions = pd.read_csv("../logic/submissions.csv")

In [47]:
submissions

       submission_id  task_id  student_id                 date     content
0                  1        1           5  2019-12-14 22:00:00       мотор
1                  2        1           1  2019-12-05 22:00:00       мотор
2                  3        1           9  2019-12-14 22:00:00       мотор
3                  4        1          14  2019-12-01 22:00:00       мотор
4                  5        1          12  2019-12-02 22:00:00       мотор
...              ...      ...         ...                  ...         ...
21221          21222     1221        3355  2019-12-15 22:00:00  задний фон
21222          21223     1221        3348  2019-12-24 22:00:00   работники
21223          21224     1221        3356  2019-12-07 22:00:00   работники
21224          21225     1221        3376  2019-12-02 22:00:00   работники
21225          21226     1221        3358  2019-12-27 22:00:00   работники

[21226 rows x 5 columns]

# students

In [48]:
students_new = students[['student_id']].copy()

In [49]:
students_new['LoadDateTimeStamp'] = '31:08:2015'

In [50]:
students_new['RecordSource'] = 'kaggle'

In [51]:
students_new.to_csv('students.csv', index=False)

In [52]:
students_new.head()

   student_id LoadDateTimeStamp RecordSource
0           1        31:08:2015       kaggle
1           2        31:08:2015       kaggle
2           3        31:08:2015       kaggle
3           4        31:08:2015       kaggle
4           5        31:08:2015       kaggle

# users_students

In [53]:
users_students = students[['user_id', 'student_id']]

In [54]:
users_students['LoadDateTimeStamp'] = '31:08:2015'

In [55]:
users_students['RecordSource'] = 'kaggle'

In [56]:
users_students.to_csv('users_studemts.csv', index=False)

In [57]:
users_students.head()

   user_id  student_id LoadDateTimeStamp RecordSource
0      895           1        31:08:2015       kaggle
1       68           2        31:08:2015       kaggle
2      515           3        31:08:2015       kaggle
3      162           4        31:08:2015       kaggle
4      816           5        31:08:2015       kaggle

# groups

In [58]:
groups_new = groups[['group_id']].copy()

In [59]:
groups_new['LoadDateTimeStamp'] = '31:08:2015'

In [60]:
groups_new['RecordSource'] = 'kaggle'

In [61]:
groups_new.to_csv('groups.csv', index=False)

In [62]:
groups_new.head()

   group_id LoadDateTimeStamp RecordSource
0         1        31:08:2015       kaggle
1         2        31:08:2015       kaggle
2         3        31:08:2015       kaggle
3         4        31:08:2015       kaggle
4         5        31:08:2015       kaggle

# students_groups

In [63]:
students_groups = students[['student_id','group_id']]

In [64]:
students_groups['LoadDateTimeStamp'] = '31:08:2015'

In [65]:
students_groups['RecordSource'] = 'kaggle'

In [66]:
students_groups.to_csv('students_groups.csv', index=False)

In [67]:
students_groups.head()

   student_id  group_id LoadDateTimeStamp RecordSource
0           1         1        31:08:2015       kaggle
1           2         1        31:08:2015       kaggle
2           3         1        31:08:2015       kaggle
3           4         1        31:08:2015       kaggle
4           5         1        31:08:2015       kaggle

# users_groups

In [68]:
groups

    group_id                  group_name  group_creator
0          1  shabby-persimmon-crocodile            702
1          2      leaky-amaranth-tamarin            719
2          3        flabby-buff-barnacle            766
3          4      muzzy-malachite-jackal            883
4          5      gummy-tangerine-weasel            158
..       ...                         ...            ...
95        96            foggy-coral-deer             57
96        97      pokey-lavender-gorilla            989
97        98         shaky-cyan-tortoise            578
98        99        shaky-lime-wolfhound            289
99       100           flabby-coral-seal            332

[100 rows x 3 columns]

In [69]:
users_groups = groups[['group_creator','group_id']]
users_groups['user_id'] = users_groups['group_creator']
users_groups = users_groups.drop(columns=['group_creator'])

In [70]:
users_groups['LoadDateTimeStamp'] = '31:08:2015'

In [71]:
users_groups['RecordSource'] = 'kaggle'

In [72]:
users_groups.to_csv('users_groups.csv', index=False)

In [73]:
users_groups.head()

   group_id  user_id LoadDateTimeStamp RecordSource
0         1      702        31:08:2015       kaggle
1         2      719        31:08:2015       kaggle
2         3      766        31:08:2015       kaggle
3         4      883        31:08:2015       kaggle
4         5      158        31:08:2015       kaggle

# assignments

In [74]:
assignments_new = assignments[['assignment_id']].copy()

In [75]:
assignments_new['LoadDateTimeStamp'] = '31:08:2015'

In [76]:
assignments_new['RecordSource'] = 'kaggle'

In [77]:
assignments_new.to_csv('assignments.csv', index=False)

In [78]:
assignments_new.head()

   assignment_id LoadDateTimeStamp RecordSource
0              1        31:08:2015       kaggle
1              2        31:08:2015       kaggle
2              3        31:08:2015       kaggle
3              4        31:08:2015       kaggle
4              5        31:08:2015       kaggle

# groups_assignments

In [79]:
groups_assignments = assignments[['group_id', 'assignment_id']].copy()

In [80]:
groups_assignments['LoadDateTimeStamp'] = '31:08:2015'

In [81]:
groups_assignments['RecordSource'] = 'kaggle'

In [82]:
groups_assignments.to_csv('groups_assignments.csv', index=False)

In [83]:
groups_assignments.head()

   group_id  assignment_id LoadDateTimeStamp RecordSource
0         1              1        31:08:2015       kaggle
1         1              2        31:08:2015       kaggle
2         1              3        31:08:2015       kaggle
3         1              4        31:08:2015       kaggle
4         2              5        31:08:2015       kaggle

# tasks

In [84]:
tasks_new = tasks[['task_id']].copy()

In [85]:
tasks_new['LoadDateTimeStamp'] = '31:08:2015'

In [86]:
tasks_new['RecordSource'] = 'kaggle'

In [87]:
tasks_new.to_csv('tasks.csv', index=False)

In [88]:
tasks_new.head()

   task_id LoadDateTimeStamp RecordSource
0        1        31:08:2015       kaggle
1        2        31:08:2015       kaggle
2        3        31:08:2015       kaggle
3        4        31:08:2015       kaggle
4        5        31:08:2015       kaggle

# assignments_tasks

In [89]:
assignments_tasks = tasks[['assignment_id', 'task_id']].copy()

In [90]:
assignments_tasks['LoadDateTimeStamp'] = '31:08:2015'

In [91]:
assignments_tasks['RecordSource'] = 'kaggle'

In [92]:
assignments_tasks.to_csv('assignments_tasks.csv', index=False)

In [93]:
assignments_tasks.head()

   assignment_id  task_id LoadDateTimeStamp RecordSource
0              1        1        31:08:2015       kaggle
1              1        2        31:08:2015       kaggle
2              1        3        31:08:2015       kaggle
3              2        4        31:08:2015       kaggle
4              2        5        31:08:2015       kaggle

# submissions

In [94]:
submissions_new = submissions[['student_id']].copy()

In [95]:
submissions_new['LoadDateTimeStamp'] = '31:08:2015'

In [96]:
submissions_new['RecordSource'] = 'kaggle'

In [97]:
submissions_new.to_csv('submissions.csv', index=False)

In [98]:
submissions_new.head()

   student_id LoadDateTimeStamp RecordSource
0           5        31:08:2015       kaggle
1           1        31:08:2015       kaggle
2           9        31:08:2015       kaggle
3          14        31:08:2015       kaggle
4          12        31:08:2015       kaggle

# students_submissions

In [99]:
students_submissions = 	submissions[['student_id','submission_id']].copy()

In [100]:
students_submissions['LoadDateTimeStamp'] = '31:08:2015'

In [101]:
students_submissions['RecordSource'] = 'kaggle'

In [102]:
students_submissions.to_csv('students_submissions.csv', index=False)

In [103]:
students_submissions.head()

   student_id  submission_id LoadDateTimeStamp RecordSource
0           5              1        31:08:2015       kaggle
1           1              2        31:08:2015       kaggle
2           9              3        31:08:2015       kaggle
3          14              4        31:08:2015       kaggle
4          12              5        31:08:2015       kaggle